<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Window OS">
		<classes>
			<class name="com.learnings.testng.WindowsValidations">
				<methods>
					<exclude name="showWeb.*"></exclude>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->

	<test name="Mac OS">

		<classes>
			<class name="com.learnings.testng.MacValidations">
				<methods>
					<include name="showWeb" />
				</methods>
			</class>
		</classes>

	</test>
</suite> <!-- Suite -->
